<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" routerLink="/home">Books Tour</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
              </li>
          
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>


  <!-- Slide One - Set the background image for this slide in the line below -->
  <div class="carousel-item active"
      style=" background-image: url('https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg')">
      <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Books Tour</h3>
          <p class="lead">Welcome to the book tour.</p>
      </div>
  </div>

</header>

