
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Book Tour</h1>
    <p class="lead p-5">Book lover, welcome to our page. Detailed information about the books is given on our site. In addition, our site provides information about the effects of books on people. If you have any questions, you can write to us from the communication section.
    </p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: crimson;">
          <h4 class="my-0 font-weight-normal" >Search...</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-5 mb-3">
           <p>You have to search for books that interest you.</p>
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: crimson;">
          <h4 class="my-0 font-weight-normal">Decide...</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-5 mb-4">
           <p>As a result of research, you can decide which book to read.</p>
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: crimson;">
          <h4 class="my-0 font-weight-normal">Read!</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-5 mb-4">
                <p>In the last step, you can read the book that suits you.</p>
          </ul>
        </div>
      </div>
    </div>