<div class="about-section">
    <h1>About Me</h1>
    <p>Someone who likes to read books ...</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="display: flex; justify-content: center;">

    <div class="column col-md-4" style="width: 50px;">
      <div class="card">
        <img src="https://www.sercanozbek.com/assests/img/benkim.jpg" alt="Mike" style="width:100%;height: 200px;">
        <div class="container">
          <h2>Sercan Özbek</h2>
          <p class="title">Computer Engineer</p>
          <p>Frontend And Mobile Developer</p>
          <p>chesercan@gmail.com</p>
        </div>
      </div>
    </div>
  

  </div>
  